{%extends 'base.html'%}
{%block title%}Home{%endblock%}
{%load static%}	
{%block content%}
	<link rel="stylesheet" href="{%static 'style/hom.css'%}">
	<h1 style="text-align:center; margin-top:20px;">Welcome to our website {{user.username}}!</h1>
<div class="position-relative"> 
<div class="position-absolute top-0 start-0" style="margin-top: 200px;">
	<div class="flip-card">
		<div class="flip-card-inner">
		  <div class="flip-card-front">
			<img src="{%static 'images/OIP.jpg'%}">
		  </div>
		  <div class="flip-card-back">
			<h1>TUTORIALS</h1>
			<br>
			<a href="{%url 'tutorials'%}"><button type="button" class="btn btn-success">Have a look</button></a>
			
		  </div>
		</div>
	  </div>
</div>

	<div class="position-absolute top-0 start-50 translate-middle-x" style="margin-top: 200px;">
	  <div  class="flip-card">
		<div class="flip-card-inner">
		  <div class="flip-card-front">
			<img src="{%static 'images/coding.webp'%}" alt="Avatar" style="width:300px;height:200px;">
		  </div>
		  <div class="flip-card-back">
			<h1>EDITOR</h1>
			<br>	
			<a href="{%url 'editor'%}"><button type="button" class="btn btn-success">Have a look</button></a>
			
		  </div>
		</div>
	  </div>
	</div>

	<div class="position-absolute top-0 end-0" style="margin-top: 200px;">
	  <div class="flip-card">
		<div class="flip-card-inner">
		  <div class="flip-card-front">
			<img src="{%static 'images/coding.webp'%}" alt="Avatar" style="width:300px;height:200px;">
		  </div>
		  <div class="flip-card-back">
			<h1>QUESTIONS</h1>
			<br>
			<a href="{%url 'questions'%}"><button type="button" class="btn btn-success">Have a look</button></a>
		  </div>
		</div>
	  </div>
	</div>

</div>
	  
	  
	

{%endblock%}