<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Settings</title>
</head>
<body>
	<form method="post" enctype="multipart/form-data">
		{%csrf_token%}
		<div>
			<div class="input-field">
              <i class="fas fa-envelope"></i>
              <input id = "email" type="email" name="email" maxlength="100" required placeholder="Enter your email..." value = "{{UserProfile.email}}"/> 
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input id = "preference" type="text" name="preference" maxlength="100" required placeholder="Enter your preference name name..." value = "{{UserProfile.preference}}"/>
            </div>
            
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <textarea id = "bio" type="text" name="bio" maxlength="100" required placeholder="Enter your biography..."/>{{UserProfile.biograpghy}}</textarea>
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input id = "tip" type="" name="tip" maxlength="100" placeholder="Enter type (student or teacher)" value = "{{UserProfile.tiputilizator}}"/>
            </div>

            <input type="submit" class="btn" value="Sign up" style="background-color: lightgreen;"/>
		</div>
	</form>	
</body>
</html>